@model List<BENewTopZone.Areas.Admin.Views.ViewModel.ProListadmin>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách sản phẩm</h2>

<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4 mb-3">
                <div class="card">
                    <!-- Ảnh sản phẩm -->
                    @* <img src="@Url.Content(product.ProImage)" class="card-img-top" alt="Ảnh sản phẩm">*@
                    <img src="@Url.Content(product.ProImage)" />
                    <!-- Thông tin sản phẩm -->
                    <div class="card-body">
                        <h5 class="card-title">@product.ProName</h5>
                        <p class="card-text">Mô tả: @product.NameDecription</p>
                        <p class="card-text">Màu sắc: @product.ColorName - Mã màu: @product.RGB</p>
                        <p class="card-text">Giá: @product.Price</p>
                        <p class="card-text">Mã loại: @product.CatID - Tên loại: @product.NameCate</p>
                        <p class="card-text">Số lượng còn lại: @product.RemainQuantity</p>
                        <p class="card-text">Số lượng đã bán: @product.SoldQuantity</p>
                        <!-- Các thông tin khác của sản phẩm -->
                    </div>
                </div>
            </div>
        }
    </div>
</div>

